<div class="container">
  <div class="row d-flex">
    <app-selector-card class="col-md my-1" iconLink="../../assets/marvel/black-widow.jpg"
                       label="Black Widow">
    </app-selector-card>
    <app-selector-card class="col-md my-1" iconLink="../../assets/marvel/captain-america.jpg"
                       label="Captain America">
    </app-selector-card>
    <app-selector-card class="col-md my-1" iconLink="../../assets/marvel/crystal.jpg"
                       label="Crystal">
    </app-selector-card>
    <app-selector-card class="col-md my-1" iconLink="../../assets/marvel/iron-man.jpg"
                       label="Iron Man">
    </app-selector-card>
  </div>
  <div class="row d-flex">
    <app-selector-card class="col-md my-1" iconLink="../../assets/marvel/invisible-woman.jpg"
                       label="Invisible Woman">
    </app-selector-card>
    <app-selector-card class="col-md my-1" iconLink="../../assets/marvel/thor.jpeg"
                       label="Thor">
    </app-selector-card>
    <app-selector-card class="col-md my-1" iconLink="../../assets/marvel/rogue.jpg"
                       label="Rogue">
    </app-selector-card>
    <app-selector-card class="col-md my-1" iconLink="../../assets/marvel/professor-x.jpeg"
                       label="Professor-X">
    </app-selector-card>
  </div>
</div>
